/*
Developer: Frankie Barrios
Date:      9/25/2018
Purpose:   ImageSwapping Assignment
*/

body {
    margin: 0;
    padding: 0;
}

#menu li {
    list-style-type: none;
    text-align: center;
    display: inline;
}

#menu li img {
    display: inline-block;
    height: 80px;
    width: 100px;
}

#left {
    ul {
        display: flex;
        flex-direction: row;
        margin: 30px;
    }

#right, img {
        height: 200px;
        widows: 300px;
        float: left;
        margin: 30px;
    }
    